<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário</title>
    <link rel="stylesheet" href="../../style/estilo.css">
</head>
<body>

    <label for="categoria">Categoria do Item:</label>
    <br> <br>

    <select name="categoria" id="slcCategoria">
        <option value="" disabled selected>Selecione uma Categoria</option>
        <option value="">Nenhuma</option>
        <option value="equipamento">Equipamento</option>
        <option value="armas">Arma</option>
        <option value="armaduras">Armadura</option>
        <option value="recipientes">Recipiente</option>
        <option value="montarias">Montaria</option>
    </select>    
    <br> <br>
    
    <div id="tiposInfo" class="escondido">
        <label for="" class="scrap">Selecione as Opções de Customização</label>
        
    </div>
    
    <br> <br>

    <form id="formItem" class="escondido">

        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="inptNome">
        <br> <br>

        <label for="preco">Preço:</label>
        <input type="text" name="preco" id="inptPreco">
        <br> <br>

        <label for="peso">Peso:</label>
        <input type="text" name="peso" id="inptPeso">
        <br> <br>

        <label for="descricao">Descrição:</label>
        <input type="text" name="descricao" id="inptDescricao">
        <br> <br>

        <button id="btnCadastrar" type="button">Cadastrar Item</button>
        <br> <br>
        <button class="itens" id="btnListarItens" type="button">Listar</button>
        <br> <br>
    </form>

    <div>
        <a href="../login.html">
            <button class="login-button">Fazer login/Registrar-se</button>
        </a>
        <br> <br>

        <a href="../../index.html">
            <button class="login-button">Ir para o inventário</button>
        </a>
        <br> <br>

        <a href="../paginasCadastramento.html">
            <button class="login-button">Voltar</button>
        </a>
        <br> <br>

        <table id="listar"></table>
    </div>

    <script src="../../renderer.js"></script>
</body>
</html>